/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white; /* Dark background color */
    color: white;
  }
  
  /* Logo Style */
  .logo {
    height: 50px; /* Adjust size as needed */
  }
  
  /* Profile Image Style */
  .profile {
    height: 40px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the profile image circular */
    cursor: pointer;
  }
  